data_config:
  enable_query_instruct: true
  hard_neg_num: 0
  image_size: 224, 224
  in_batch_neg_num: 0
  query_instruct_path: instructions/query_instructions.tsv
  returns:
    hashed_p_did: true
  shuffle_cand: true
  train_cand_pool_path: /data/M-BEIR/mini_cand/train/mbeir_mscoco_task3_train_cand_pool.jsonl
  train_query_data_path: /data/M-BEIR/mini_query/train/mbeir_mscoco_train.jsonl
  val_cand_pool_path: /data/M-BEIR/mini_cand/val/mbeir_mscoco_task3_val_cand_pool.jsonl
  val_query_data_path: /data/M-BEIR/mini_query/val/mbeir_mscoco_task3_val.jsonl
dataloader_config:
  num_workers: 5
  train_batch_size: 3
  valid_batch_size: 64
dist_config:
  dist_url: env://
evaluator:
  enable_eval: false
  eval_freq: 1
  print_freq: 10
experiment:
  description: ${model.name} ${model.size} ${experiment.instruct_status} ${experiment.exp_name}
  exp_name: InBatch
  instruct_status: Instruct
  path_suffix: ${model.short_name}/${model.size}/${experiment.instruct_status}/${experiment.exp_name}/
logger_config:
  logger_out_dir: logger/${experiment.path_suffix}
  logger_out_file_name: train.log
model:
  alpha: 0.4
  ckpt_config:
    ckpt_dir: checkpoint/${experiment.path_suffix}
    ckpt_name: ''
    pretrained_jina_url: /data/jina-v4-local-copy
    resume_training: false
  embed_dim: 2048
  image_size: 224, 224
  name: JinaEmbeddingsV4
  queue_size: 57960
  short_name: jina_v4t
  size: Large
  tokenizer_max_length: 100
seed: 2023
trainer_config:
  gradient_accumulation_steps: 1
  init_lr: 1e-5
  num_train_epochs: 1
  print_freq: 5
  weight_decay: 0.05
wandb_config:
  enabled: false
  experiment_name: ${experiment.description}
